fluxos-n8n/SaveFileToVectorStore.json
{
  "name": "SaveFileToVectorStore",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        240,
        -180
      ],
      "id": "f8fcb49b-317b-40c1-9ada-0cfa807beb60",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xol9sfCN7tM6Ehdm",
          "name": "Aula 04 ao vivo"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        740,
        -180
      ],
      "id": "809d1385-7759-45c9-8820-56f4481c485b",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "S5CZKGKiWQciwsZo",
          "name": "Aula 04 Ao vivo"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        620,
        20
      ],
      "id": "d551e341-9bc6-4e9e-88f7-49ffbc950a60",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "LxESPA7gaRJpmXmF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        860,
        0
      ],
      "id": "cd54702e-a90f-431f-8abd-49ae25d4b862",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        780,
        140
      ],
      "id": "9edb3cbd-72db-49f6-a9a8-c9971e5664f5",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cda71402-0f4c-4611-8d90-38b297c6eeac",
              "name": "file_id",
              "value": "1pepzHsQXmAgVW6JG26IIjdpod60vYiTU95_VgrfVT1w",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20,
        -180
      ],
      "id": "cadac6ef-ba3d-4bbf-8ca5-7c1aeb6655a4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=eq.{{ $json.file_id }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        240,
        -380
      ],
      "id": "31a17eee-a561-435b-b868-363eefe2bd6c",
      "name": "Delete a row",
      "credentials": {
        "supabaseApi": {
          "id": "S5CZKGKiWQciwsZo",
          "name": "Aula 04 Ao vivo"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -180,
        -180
      ],
      "id": "66baafd5-b30a-445d-9f86-962986646c2d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        520,
        -180
      ],
      "id": "0e8db35a-83cb-41fc-8a82-49a7585c062a",
      "name": "Extract from File"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "15f10061-963c-4d58-864b-9aed50db8c04",
  "meta": {
    "instanceId": "f56d2f5ba48d2ad4b177570c9770488715dd6722a50b40b69013ec823bdedd10"
  },
  "id": "OdQrGHiu7WcPwCw9",
  "tags": []
}